.arrow-outer-div .arrow-div::after {
  content: "";
  margin-top: 18px;
  position: absolute;
  left: 210px;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  background: transparent url("icon/icon-arrow.svg") 0% 0% no-repeat padding-box;
  background-size: 20px;

  transition: all 0.3s ease-out;
}

.arrow-outer-div.open .arrow-div::after {
  transform: translateY(-50%) rotate(-180deg);
}

/* Mid-size Screens 1200px*/
@media only screen and (max-width: 1200px) {
  .arrow-outer-div .arrow-div::after {
    left: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .arrow-outer-div .arrow-div::after {
    left: 185px;
  }
}

@media only screen and (max-width: 800px) {
  .arrow-outer-div .arrow-div::after {
    left: 175px;
  }
}
