.arrow-outer-div {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  padding-top: 9px;
  background: red url("icon/expand-icon1.png") 0% 0% no-repeat padding-box;
  background-size: 17px;
  opacity: 1;
}
