.console-li-element {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 14px;
}

.li-icon-div {
  display: flex;
  padding-top: 8px;
  padding-bottom: 10px;
  content: ""; /* This is necessary for the pseudo element to work. */
  width: 92%; /* Change this to whatever width you want. */
  border-bottom: 1px solid #b2b4ae; /* This creates the border. Replace black with whatever color you want. */
}
