.camera-banner-wrapper {
  display: flex;
}
.camera-banner-title {
  position: relative;
  left: 40px;
  top: 34px;
  font-family: Roboto;
  font-size: 24px;
  color: #414141;
}
.camera-banner-title p {
  font-size: 19px;
  color: #707070;
  display: inline-block;
}

.specialty-banner-title {
  position: relative;
  left: 100px;
  top: 34px;
  font-family: Roboto;
  font-size: 24px;
  color: #414141;
}

.specialty-banner-title p {
  font-size: 19px;
  color: #707070;
  display: inline-block;
}
