.console-tab-div {
  position: absolute;
  top: 80px;
  left: 80px;
  width: 240px;
  height: 1000px;

  background: #f7f7f7 0% 0% no-repeat padding-box;

  opacity: 1;
}

.console-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 20px;
}
