.console-category-div {
  text-align: left;
  padding: 25px 0px 10px 20px;
  letter-spacing: 0;
  color: #414141;
  opacity: 1;
}

.console-category-div h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0;
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 360px) {
  .menu-icon-div {
    position: absolute;
    top: 23px;
    left: 85%;
    width: 24px;
    height: 24px;

    background: transparent url("icon/menu-icon1.png") 0% 0% no-repeat
      padding-box;
  }
}
