.console-row-div {
}

.li-icon-div {
  margin: 0px 0px 0px 0px;
  display: flex;
  padding: 20px 0px 10px 0px;
  width: 95%;
  border-bottom: 1px solid #b2b4ae;
}

.expand-icon-div {
  height: 24px;
  width: 24px;

  background: transparent url("icon/expand-icon1.png") 0% 0% no-repeat
    padding-box;
}

.console-row-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.console-li-div {
  padding: 0px 0px 0px 20px;
  width: 80%;
}

.console-li-div a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  color: #707070;
}

.console-li-div a:hover {
  color: #414141;
}
