.console-category-div p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  font: Black 21px/24px Roboto;
  letter-spacing: 0px;
  color: #414141;
}

.console-category-div {
  margin: 17px 0px 20px 14px;
}
