.console-category-div h1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  font: Black 21px/24px Roboto;
  letter-spacing: 0px;
  color: #414141;
}

.console-li-element {
  font-family: Roboto;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.console-category-div {
  margin: 18px 0px 8px 14px;
}
