.li-icon-div {
  display: flex;
  padding: 20px 0px 15px 0px;
  width: 95%;
  border-bottom: 1px solid #b2b4ae;
}

.arrow-div {
  padding: 0px 0px 0px 26px;
}

.arrow-outer-div .arrow-div::after {
  content: "";
  margin: 8px 0px 0px 0px;
  position: absolute;
  height: 24px;
  width: 24px;
  transform: translateY(-50%);
  background: transparent url("icon/show-less-icon1.png") 0% 0% no-repeat
    padding-box;

  transition: all 0.4s ease-out;
}

.arrow-outer-div.open .arrow-div::after {
  transform: translateY(-50%) rotate(-180deg);
}

.console-row-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.console-li-div {
  padding: 0px 0px 0px 20px;
  width: 80%;
}

.console-li-div a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  color: #707070;
}

.console-li-div a:hover {
  color: #414141;
}

.show-display {
  width: 100%;
  padding: 0px;
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-in;
}
.show-display.open {
  padding: 0px;
  margin: 0px 0px 0px 2px;
  width: 95%;
  max-height: 1000px;
  opacity: 1;
}

@media only screen and (max-width: 360px) {
  .console-li-div {
    padding: 0px 0px 0px 20px;
    width: 0%;
  }
  .li-icon-div {
    display: flex;
    padding: 20px 0px 15px 0px;
    width: 90%;
    border-bottom: 1px solid #b2b4ae;
  }

  .arrow-outer-div .arrow-div::after {
    content: "";
    margin: 8px 0px 0px 0px;
    position: absolute;
    left: 85%;
    height: 24px;
    width: 24px;
    transform: translateY(-50%);
    background: transparent url("icon/show-less-icon1.png") 0% 0% no-repeat
      padding-box;

    transition: all 0.3s ease-out;
  }

  .arrow-outer-div.open .arrow-div::after {
    transform: translateY(-50%) rotate(-180deg);
  }
}
