.console-tab-div {
  position: absolute;
  top: 83px;
  left: 80px;
  width: 240px;
  min-height: 620px;
  height: 100vh;

  background: #f7f7f7 0% 0% no-repeat padding-box;

  opacity: 1;
}

.console-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* 1600px Screen Size*/
@media only screen and (max-width: 1600px) {
  .console-tab-div {
    top: 67px;
    left: 64px;
    width: 200px;
    height: 92vh;
  
    background: #f7f7f7 0% 0% no-repeat padding-box;
  
    opacity: 1;
  }
}

@media only screen and (max-width: 360px) {
  .console-tab-div {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 375px;
    height: 500px;

    background: #f7f7f7 0% 0% no-repeat padding-box;

    opacity: 1;
  }
}
