.display-title {
  padding: 15px 0px 10px 20px;
}

.display-title {
  font-family: Roboto;
  font-size: 21px;
  letter-spacing: 0;
  color: #414141;
  opacity: 1;
}

.monitor-button {
  position: relative;
  height: 40px;
  width: 90%;
  background: #eaeaea 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  padding: 10px 0px 0px 20px;
  margin: 5px 0px 20px 5px;
}

.monitor-button:hover {
  cursor: pointer;
  background: #2b72cc 0% 0% no-repeat padding-box;
  transition: all 0.4s ease-in-out;
}

.display-button-div {
  width: 100%;
  padding: 10px;
  margin: 5px 0px 0px 0px;
}
