.camera-banner-wrapper {
  display: flex;
}

.monitor-banner-title {
  position: relative;
  top: 34px;
  left: 40px;
  font-family: Roboto;
  font-size: 21px;
  color: #414141;
}

.monitor-banner-title p {
  font-size: 18px;
  color: #707070;
  display: inline-block;
}

.specialty-monitor-banner-title {
  position: relative;
  left: 260px;
  top: 11px;
  padding-right: 10px;
  font-family: Roboto;
  font-size: 21px;
  color: #414141;
}

.specialty-monitor-banner-title p {
  font-size: 18px;
  color: #707070;
  display: inline-block;
}
