.display-title {
  padding: 15px 0px 10px 15px;
}

.display-title {
  font-family: Roboto;
  font-size: 21px;
  letter-spacing: 0;
  color: #414141;
  opacity: 1;
}

.monitor-button {
  position: relative;
  left: 0px;
  align-items: center;
  height: 40px;
  width: 93%;
  padding-top: 10px;
  margin: 10px 0px 10px 10px;
  background: #eaeaea 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}

.monitor-button.clicked {
  background: #2b72cc 0% 0% no-repeat padding-box;
}
.monitor-button.clicked p {
  color: #ffffff;
}

.monitor-button p {
  color: #707070;
  margin-left: 25px;
}

.monitor-button:hover {
  cursor: pointer;
  background: #2b72cc 0% 0% no-repeat padding-box;
  transition: all 0.4s ease-in-out;
}

.monitor-button p:hover {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

/* 1600px Screen Size*/
@media only screen and (max-width: 1600px) {
  .display-title {
    font-family: Roboto;
    font-size: 17px;
    letter-spacing: 0;
    color: #414141;
    opacity: 1;
  }

  .monitor-button {
    position: relative;
    left: 0px;
    align-items: center;
    height: 35px;

    width: 93%;
    margin: 0px 0px 8px 10px;
    background: #eaeaea 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
  }

  .monitor-button p {
    font-size: 13px;
    margin-left: 16px  ;
  }

}
