.navbar-div {
  /* Layout Properties*/
  top: 80px;
  left: 0px;
  width: 80px;
  height: 620px;

  /* UI Properties */

  background: #414141 0% 0% no-repeat padding-box;
  opacity: 1;
}

.round-div {
  position: absolute;
  border-radius: 50%;
  top: 100px;
  left: 15px;
  width: 50px;
  height: 50px;

  background: #2b72cc 0% 0% no-repeat padding-box;

  opacity: 1;
}

.home-icon {
  position: relative;
  top: 12px;
  left: 14px;
  width: 24px;
  height: 24px;

  background: transparent url("icon/icon-home.svg") 0% 0% no-repeat padding-box;

  opacity: 1;
}

.printer-icon {
  position: relative;
  top: 105px;
  left: 28px;
  width: 24px;
  height: 24px;

  background: transparent url("icon/icon-print.svg") 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 360px) {
  .navbar-div {
    /* Layout Properties*/

    top: 80px;
    left: 0px;
    width: 375px;
    height: 70px;

    /* UI Properties */

    background: #414141 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .round-div {
    position: absolute;
    border-radius: 50%;
    top: 90px;
    left: 20px;
    width: 50px;
    height: 50px;

    background: #2b72cc 0% 0% no-repeat padding-box;

    opacity: 1;
  }
  .printer-icon {
    position: absolute;
    top: 101px;
    left: 95px;
    width: 24px;
    height: 24px;

    background: transparent url("icon/icon-print.svg") 0% 0% no-repeat
      padding-box;
  }
}
