.specialty-component-div {
  position: relative;
  left: 2px;
}

.specialty-div {
  display: none;
}

.specialty-div.settings {
  display: inline-block;
}

.settings-title-div {
  position: absolute;
  top: 32px;
}

.settings-title-div.settings h3 {
  margin: 0px 0px 35px 0px;
}

.settings-title-div h3 {
  font-family: Roboto;
  margin: 0px 0px 35px 0px;
  font-size: 24px;
  padding-left: 2px;
  color: #000000;
}

.info-div {
  display: flex;
  padding: 0px 0px 0px 0px;
}

.info-div.settings {
  display: none;
}
.settings-info-icon-div {
  position: relative;
  top: 0px;
  margin-bottom: 40px;
  margin-right: 8px;
  width: 24px;
  height: 24px;

  background: transparent url("icon/icon-info.svg") 0% 0% no-repeat padding-box;

  opacity: 1;
}

.info-p-tag {
  font-size: 15px;
  padding-top: 2px;
  color: #b2b4ae;
}
