.settings-title-div {
  position: absolute;
  top: 40px;
  padding: 0;
}

.settings-title-div h3 {
  font-family: Roboto;
  font-size: 28px;
  padding-left: 40px;
  color: #000000;
}

.info-div {
  display: flex;
  padding: 30px 0px 0px 40px;
}
.settings-info-icon-div {
  position: relative;
  top: 0px;
  margin-bottom: 40px;
  margin-right: 12px;
  width: 24px;
  height: 24px;

  background: transparent url("icon/icon-info.svg") 0% 0% no-repeat padding-box;

  opacity: 1;
}

.info-p-tag {
  padding-top: 3px;
  color: #b2b4ae;
}

.specialty-div {
  position: relative;
  margin: 43px 0px 10px 40px;
}
