.settings-table-component-div {
  display: none;
}

.settings-table-component-div.settings {
  display: inline-block;
  margin: 50px 0px 0px 40px;
  height: 1000px;
  width: auto;
  background-color: aquamarine;
}
