.specialty-list-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 18px;
}

.specialty-component-div {
  display: flex;
}

.specialty-div.settings {
  margin: 40px 0px 0px 0px;
}

.specialty {
  height: 35px;
  width: auto;
  margin: 0px 8px 8px 0px;
  padding: 7px 20px 7px 20px;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  border-radius: 50px;
}

.specialty.clicked {
  background: #2b72cc 0% 0% no-repeat padding-box;
}

.specialty.clicked p {
  color: #ffffff;
}

.specialty p:hover {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.specialty:hover {
  cursor: pointer;
  background: #2b72cc 0% 0% no-repeat padding-box;
  transition: all 0.4s ease-in-out;
}

.specialty-list-div a {
  text-align: center;
  color: #707070;
  text-decoration: none;
}

.specialty-title-div p {
  padding-top: 4px;
}

.specialty-title-div .specialty-title-tag {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
}
